<table class="ee_element ee_borders eeb_width" cellpadding="0" cellspacing="0" data-eewidth="530" style="table-layout: auto; width: 530px; border-spacing: 0;">
  <tbody>
    <tr>
      <td class="ee_pad" style="padding-top: 15px; padding-bottom: 25px; width: auto;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ee_columns eev_element" style="width: 530px; position: relative; table-layout: auto; border-spacing: 0;"
          data-eewidth="530">
          <tbody>
            <tr>
              <td width="100%" valign="top" class="ee_dropzone ved-scaled-cols " align="{{left}}" style="width: 530px; padding: 0px;">
                <table class="ee_borders eeb_width ee_element" cellpadding="0" cellspacing="0" style="width: 530px; table-layout: auto; border-spacing: 0;"
                  data-eewidth="530">
                  <tbody>
                    <tr>
                      <td class="ee_pad" style="padding-top: 10px; padding-bottom: 10px; width: auto;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ee_columns eev_element"
                          style="width: 530px; position: relative; table-layout: auto; border-spacing: 0;" data-eewidth="530">
                          <tbody>
                            {{#each choices}}
                            <tr>
                              <td width="100%" valign="middle" class="ee_dropzone ved-scaled-cols" align="{{../left}}"
                                style="display: block; clear: both; width: 100%; margin: 0; padding: 0px; background-color: {{../colors.primary}}; border-radius: 3px; overflow: hidden;">
                                <table class="ee_element ee_borders eeb_width" cellpadding="0" cellspacing="0" style="width: 100%; table-layout: auto; border-spacing: 0;"
                                  data-eewidth="100%">
                                  <tbody>
                                    <tr>
                                      <td class="ee_pad" style="padding: 0px;">
                                        <div class="ee_editable eev_element" style="width: 100%;">
                                          <p style="margin: 0px; font-family: arial, helvetica, sans-serif; color: {{../colors.background}}; font-size: 15px;">
                                            <a {{#if url}} href="{{{url}}}" {{/if}} style="display:block; line-height: 18px; color: {{../colors.background}}; text-decoration: none; border: 12px solid {{../colors.primary}}; padding-left: 6px;">{{label}}</a>
                                          </p>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            {{#unless @last}}
                            <tr>
                              <td height="5" style="height: 5px; font-size: 5px; line-height: 5px;">&nbsp;</td>
                            </tr>
                            {{/unless}}
                            {{/each}}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ee_columns ee_element" style="table-layout: auto; width: 530px; position: relative; border-spacing: 0; border-spacing: 0;"
                  data-eewidth="530">
                  <tbody>
                    <tr>
                      <td width="50%" valign="top" class="ee_dropzone ved-scaled-cols" align="{{left}}" style="width: 261px; padding: 0px;">
                        <div class="ee_editable ee_element ee_headercenter hide">
                          <p style="margin: 0px; font-family: arial, helvetica, sans-serif; line-height: 21px; color: rgb(132, 132, 132); font-size: 13px; font-style: italic;">{{minLegend}}</p>
                        </div>
                      </td>
                      <td width="8" valign="top" class="eegap" style="width: 8px; padding: 0px;"><img src="https://i.emlfiles.com/cmpimg/t/s.gif"
                          style="display:block" height="10" width="8"></td>
                      <td width="50%" valign="top" class="ee_dropzone ved-scaled-cols" align="{{left}}" style="width: 261px; padding: 0px;">
                        <div class="ee_editable ee_element ee_headercenter">
                          <p style="margin: 0px; font-family: arial, helvetica, sans-serif; line-height: 21px; color: rgb(132, 132, 132); text-align: {{right}}; font-size: 13px; font-style: italic;">{{maxLegend}}</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>